/* Offset Discord's App Mount */
.appMount-3lHmkl, body {
    transform: rotateZ(.1deg);
   }
   
   /* Avatars */
   .avatar-3uk_u9 {
       margin-right: 2px !important;
       padding-top: 15px !important;
   }
   
   /* Tool Bar Search */
   .container-1r6BKw {
    padding-top: 7px !important;
   }
   
   /* DM List Search */
   .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
       transform: rotate(5deg);
   }
   
   /* Top Tool Bar */
   .toolbar-1t6TWx{
       transform: rotateZ(-1deg);
   }
   /* Chat */
   .button-3AYNKb {
       padding-bottom: -15PX;
   }
   .cozyMessage-3V1Y8y.groupStart-23k01U{
       transform: rotateZ(-1deg);
   }
   .form-2fGMdU{
       transform: rotateZ(-1deg);
   }
   .container-3npvBV,
   .tooltip-2QfLtc{
       transform: rotateZ(9deg) !important;
   }
   
   /* User Panel */
   .panels-j1Uci_{
        transform: rotateZ(-1deg);
   }

   /* Server List */
      .scroller-1Bvpku {
                transform: rotateZ(1deg);
   }
    
    /* Server Icons */
       .wrapper-1BJsBx {
           margin-left: 3px;
   }
    /* Server Folder Icon */
       .closedFolderIconWrapper-2sTcE6 {
           margin-top: 3px;
           margin-left: -10px;
   }
   /* Settings Content Screen */
   .contentRegion-3nDuYy {
        transform: rotateZ(-1deg);
   }
   /* User / Spotify Panel */
   .panels-j1Uci_ {
        padding-left: 10px;
   }
   /* Unread Markers */
   .unread-2lAfLh {
        margin-top: 20px;
   }
   /* Offset Channel Name From Channel Icon */
   .iconContainer-1BBaeJ {
       margin-right: 50px;
   }
   /* Server Name To The Right */
   .name-1jkAdW {
       text-align: right;
   }
  /* Server Member List */
  .member-3-YXUe {
    transform: rotate(5deg);
}
   /* Default Profile Modal */
  .theme-dark .headerNormal-T_seeN {
    transform: rotate(-2deg);
}
   /* Activity  Profile Modal Rotate */
   .header-2BwW8b {
   transform: rotate(7deg);
   }
   /* Full Screen Modal */
  .root-SR8cQa {
      rotate: rotate(5deg);
      margin-right: 100px;
  }
