.appMount-3lHmkl, body {
    margin: 3px;
}

/* avatars */
.avatar-3uk_u9 {
    margin-right: 2px !important;
    padding-top: 15px !important;
}

/* Search */
.container-1r6BKw {
 padding-top: 7px !important;
}


/* Top Tool Bar */
.toolbar-1t6TW {
    padding-bottom: 10px;
}
/* Chat */
.button-3AYNKb {
    padding-bottom: -15PX;
}